<!DOCTYPE html>
<html>
    <head>
        <title>

            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/game">All games</a></li>
            {% for platform in platforms %}
            <li><a href="{% url 'by_platform' id=platform.id %}"> Games on {{ platform.platform }}</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="/add_games"> Add Games To Basket</a></li>
            <li><a href="/shopping_basket">Shopping Basket</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'new_game' %}">Create New Games</a></li>
            {% endif %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-logout">Logout</button>
            </form>
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            Copyright ME
        </footer>
    </body>
</html>